@font-face {
	font-family: 'bootstrapfont';
	src: url('./bootstrap/fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
	src: url('./bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('./bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), /* Modern Browsers */
	url('./bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('./bootstrap/fonts/glyphicons-halflings-regular.svg#YourWebFontName') format('svg'); /* Legacy iOS */
}
*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑"; 
}
body{
	background: #f5f5f5;
}
.top{
	width: 100%;
	height: 1.35rem;
}
.top a{
	position: relative;
	display: block;
	width: 0.8rem;
	height: 1.35rem;
}
.top p{
	position: absolute;
	top: 0px;
	width: 100%;
	text-align: center;
	line-height: 1.35rem;
	font-size: 38%;
	z-index: -1;
}
.icon_left{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -0.15rem;
	margin-top: -0.2565rem;
	display: block;
	width: 0.3rem;
	height: 38%;
	background: url('../img/left-icon.png'); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/*
第一个页面
 */
.page_1{
	width: 100%;
	height: 11.1667rem;
	background: url('../img/background1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.self-info{
	display: flex;
	width: 100%;
	height: 1.51rem;
	padding-top: 0.2rem;
}
.self-info-pic{
	flex: 0 0 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 0.2rem;
	background:url('../img/1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 50%;
	border:5px solid white;
}
.self-info-name{
	flex: 1;
	padding-left: 0.2rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 34%;
	color: white;
	font-weight: 600;
}
.self-info-share{
	flex: 0 0 1.7rem;
	width:1.7rem;
	height: 1.5rem;
}
.self-info-share a{
	display: block;
	width: 1.7rem;
	height: 0.9rem;
	margin-top: 0.3rem;
	background: url('../img/share.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.tips{
	position: relative;
	margin: 0 auto;
	margin-top: 6.2852rem;
	width: 6.9444rem;
	height: 3.1815rem;
	background:white;
	border-top-left-radius: 20px; 
	border-top-right-radius:20px;  
}
.tips div{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 0.7rem;
	background:#ebf9ff;
}
.tips_1,.tips_2{
	padding-left: 0.5rem;
	font-size: 38%;
}
.tips_1{
	padding-top: 0.35rem;
}
.tips_3{
	padding-left: 0.5rem;
	padding-top:0.1rem; 
	font-size: 30%;
	color: #676767;
}
.tips img{
	display: block;
	position: absolute;
	right: 0.2rem;
	top: 0.2rem;
	width: 1.6rem;
}


/*
第二个页面
 */
.page_2{
	margin-top: 0.3rem;
	margin-left: 0.3rem;
	margin-right:0.3rem;
	padding: 0.325rem;
	border:2px solid #eaeaea;
	border-radius: 20px;
	background: white;
}
.page_2_title{
	font-size:38%;
	color:#0098ff !important;
}
.page_2 p{
	display: flex;
	font-size: 36px;
	line-height: 0.7rem;
	color: #474747;
}
.page_2 .list_1{
	padding: 0.4rem 0.29rem 0rem 0.29rem;
	height: 1.4rem;
	font-size: 36px;
}
.page_2 span{
	flex: 1;
	display: inline-block;
	width: 5rem;
	height: 1rem;
}
.page_2 .list_icon{
	flex:0 0 0.416rem;
	display: inline-block;
	margin-top: 0.3rem;
	margin-right: 0.2rem;
	width: 0.416rem;
	height: 0.416rem;
	border-radius: 50%;
	background: #0098ff;
	text-align: center;
	line-height: 0.416rem;
	color: white;
	font-size:0.3rem;
}

/*
第三个页面
 */
.page_3{
	margin-top: 0.3rem;
	margin-left: 0.3rem;
	margin-right:0.3rem;
	padding: 0.325rem;
	border:2px solid #eaeaea;
	border-radius: 20px;
	background: white;
}
.page_3_title{
	margin-bottom: 0.2rem;
	font-size:0.38rem;
	color:#0098ff !important;
}
.page_3_content{
	padding-bottom: 0.4rem;
	overflow: hidden;
}
.page_3_content .line_1{
	padding-top: 0.16rem;
	padding-left: 0.29rem;
	font-size:0.34rem;
}
.page_3_content .line_2{
	padding-top: 0.05rem;
	padding-left: 0.29rem;
	font-size: 0.24rem;
}
.page_3_content .persent{
	font-size:0.36rem;
}


.page_3_content_1{
	display: inline-block;
	float: left;
	position: relative;
	width: 2.9rem;
	height:3.64rem;
	background: url('../img/blue.png');
	background-size: 100% 100%;
	background-repeat: no-repeat; 
	color:white !important;
}
.page_3_content_1 .average_num{
	display: block;
	position: absolute;
	left: 0.42rem;
	bottom: 1.6rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_1 .self_num{
	position: absolute;
	left: 1.69rem;
	bottom: 1.9rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_1 .pic_1{
	position: absolute;
	left: 0.42rem;
	bottom: 0.5rem;
	width: 0.86805rem;
	height: 0rem;/*1*/
}
.page_3_content_1 .pic_2{
	position: absolute;
	left: 1.69rem;
	bottom: 0.5rem;
	width: 0.86805rem;
	height: 0rem;/*1.3*/
}
.page_3_content_1 .average{
	display: block;
	position: absolute;
	left: 0.42rem;
	bottom: 0.16rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_1 .self{
	position: absolute;
	left: 1.69rem;
	bottom: 0.16rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}



.page_3_content_2{
	display: inline-block;
	float: right;
	position: relative;
	width: 2.9rem;
	height:3.64rem;
	background: url('../img/green.png');
	background-size: 100% 100%;
	background-repeat: no-repeat; 
	color:white !important;
}
.page_3_content_2 .average_num{
	display: block;
	position: absolute;
	left: 0.42rem;
	bottom: 1.8rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_2 .self_num{
	position: absolute;
	left: 1.69rem;
	bottom: 1.4rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_2 .pic_1{
	position: absolute;
	left: 0.42rem;
	bottom: 0.5rem;
	width: 0.86805rem;
	height: 0rem;/*1.2*/
}
.page_3_content_2 .pic_2{
	position: absolute;
	left: 1.69rem;
	bottom: 0.5rem;
	width: 0.86805rem;
	height: 0rem;/*0.8*/
}
.page_3_content_2 .average{
	display: block;
	position: absolute;
	left: 0.42rem;
	bottom: 0.16rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_2 .self{
	position: absolute;
	left: 1.69rem;
	bottom: 0.16rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}



.page_3_content_3{
	display: inline-block;
	float: left;
	position: relative;
	margin-top: 0.29rem;
	width: 2.9rem;
	height:3.64rem;
	background: url('../img/yellow.png');
	background-size: 100% 100%;
	background-repeat: no-repeat; 
	color:white !important;
}
.page_3_content_3 .average_num{
	display: block;
	position: absolute;
	left: 0.42rem;
	bottom: 1.3rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_3 .self_num{
	position: absolute;
	left: 1.69rem;
	bottom: 1.9rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_3 .pic_1{
	position: absolute;
	left: 0.42rem;
	bottom: 0.5rem;
	width: 0.86805rem;
	height: 0rem;/*0.7*/
}
.page_3_content_3 .pic_2{
	position: absolute;
	left: 1.69rem;
	bottom: 0.5rem;
	width: 0.86805rem;
	height: 0rem;/*1.3*/
}
.page_3_content_3 .average{
	display: block;
	position: absolute;
	left: 0.42rem;
	bottom: 0.16rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_3 .self{
	position: absolute;
	left: 1.69rem;
	bottom: 0.16rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}


.page_3_content_4{
	display: inline-block;
	float: right;
	position: relative;
	margin-top: 0.29rem;
	width: 2.9rem;
	height:3.64rem;
	background: url('../img/purple.png');
	background-size: 100% 100%;
	background-repeat: no-repeat; 
	color:white !important;
}
.page_3_content_4 .average_num{
	display: block;
	position: absolute;
	left: 0.42rem;
	bottom: 1.1rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_4 .self_num{
	position: absolute;
	left: 1.69rem;
	bottom: 2rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_4 .pic_1{
	position: absolute;
	left: 0.42rem;
	bottom: 0.5rem;
	width: 0.86805rem;
	height: 0rem;/*0.5*/
}
.page_3_content_4 .pic_2{
	position: absolute;
	left: 1.69rem;
	bottom: 0.5rem;
	width: 0.86805rem;
	height: 0rem;/*1.4*/
}
.page_3_content_4 .average{
	display: block;
	position: absolute;
	left: 0.42rem;
	bottom: 0.16rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}
.page_3_content_4 .self{
	position: absolute;
	left: 1.69rem;
	bottom: 0.16rem;
	width: 0.86805rem;
	font-size: 0.24rem !important;
	text-align: center;
}




.teacher-info{
	display: flex;
	width: 100%;
	height: 1.51rem;
	padding-top: 0.4rem;
}
.teacher-info-pic{
	flex: 0 0 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	background:url('../img/teacher.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 50%;
	border:5px solid white;
}
.teacher-info-name{
	flex: 1;
	padding-left: 0.2rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.34rem;
}
.evaluation{
	padding-top: 0.3rem;
	font-size: 36px;
	line-height: 0.7rem;
	color:#474747;
}


/*
第四个页面
 */
.page_4{
	margin-top: 0.3rem;
	margin-left: 0.3rem;
	margin-right:0.3rem;
	padding: 0.325rem;
	border:2px solid #eaeaea;
	border-radius: 20px;
	background: white;
}
.page_4_title{
	margin-bottom: 0.2rem;
	font-size:38%;
	color:#0098ff !important;
}
.page_4 p{
	line-height: 0.7rem;
	font-size: 36px;
	color: #474747;
}
.page_4 .list_1{
	padding: 0.4rem 0.29rem 0rem 0.29rem;
	height: 1.4rem;
	display: flex;
}
.page_4 .list_1 span{
	flex: 1;
}
.page_4 span{
	display: inline-block;
	width: 5.25rem;
	height: 1rem;
}
.laxia{
	display: inline !important;
	color:#ff82ae;
}
.page_4 .list_icon{
	flex: 0 0 0.416rem !important;
	display: inline-block;
	margin-top: 0.3rem;
	margin-right: 0.2rem;
	width: 0.416rem;
	height: 0.416rem;
	border-radius: 50%;
	background: #ff82ae;
	text-align: center;
	line-height: 0.416rem;
	color: white;
	font-size:30px;
	vertical-align: top;
}



/*
第五个页面
 */
.page_5{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-left: 0.3rem;
	margin-right:0.3rem;
	padding: 0.325rem;
	border:2px solid #eaeaea;
	border-radius: 20px;
	background: white;
}
.page_5_title{
	margin-bottom: 0.2rem;
	font-size:38%;
	color:#0098ff !important;
}
.page_5 p{
	line-height: 0.7rem;
	font-size: 36px;
	color: #474747;
}
.page_5 .color{
	color: #42a5ff;
}

.parameter_detail{
	position: relative;
	width: 100%;
	height: 3.8109rem;
	background: -webkit-linear-gradient(#42a5ff, #95e5ff); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#42a5ff, #95e5ff); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#42a5ff, #95e5ff); /* Firefox 3.6 - 15 */
	background: linear-gradient(#42a5ff, #95e5ff); /* 标准的语法 */
	border-radius: 20px;
	overflow: hidden;
}
.parameter ul{
	padding-top:0.2rem; 
}
.parameter ul li{
	display: flex;
	height: 1.8rem;
	list-style: none;
	color:#474747;
	font-size: 0.36rem;
}
.parameter .level{
	flex: 0 0 1rem;
	width: 1rem;
	height: 100%;
	line-height: 1.8rem;
	text-align: center;
}

.parameter .name{
	flex: 1;
	padding-left: 0.3rem;
	height: 100%;
	line-height: 1.8rem;
}
.parameter .grade{
	flex: 0 0 1rem;
	width: 1rem;
	height: 100%;
	line-height: 1.8rem;
	text-align: center;
}


.parameter img{
	display: inline-block;
	margin-top: 0.4rem;
	width: 0.6rem;
	height: 1rem;
}
.parameter .pic{
	flex: 0 0 1.4rem;
	margin-top: 0.2rem;
	width: 1.4rem;
	height: 1.4rem;
	border: 2px solid white;
	border-radius: 50%;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
}
.parameter .pic_1{
	background:url('../img/a.png');
}

.parameter .pic_2{
	background:url('../img/d.png');
}

.parameter .pic_3{
	background:url('../img/c.png');
}

.parameter .pic_4{
	background:url('../img/b.png');
}

.parameter .pic_5{
	background:url('../img/e.png');
}

.parameter .pic_6{
	background:url('../img/f.png');
}

.parameter .pic_7{
	background:url('../img/1.png');
}

.parameter .pic_8{
	background:url('../img/g.png');
}

.parameter .pic_9{
	background:url('../img/h.png');
}

.parameter .pic_10{
	background:url('../img/i.png');
}

#myCanvatext{
	position: absolute;
	top: 0rem;
	left: 0rem;
}
.circle{
	padding: 0px;
	position: absolute;
	top: 0.4rem;
	right: 0.4rem;
	width: 1.98rem;
	height: 1.98rem;
	background:url('../img/circle.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.circle .a{
	display: inline-block;
	padding-top:0.55rem;
	padding-left:0.5rem;
	font-size: 0.6rem;
	color: white;
}
.circle .b{
	display: inline-block;
	position: relative;
	left: -0.2rem;
	font-size: 0.25rem;
	color: white;
}
#myCanvaSea{
	position: absolute;
	border-radius: 20px;
}

